// Colors
//
// Every colors for this project are variables.
//
// Layout and UI generic colors
//
// Colors:
// $color-dark:          #222 - dark color
// $color-bg-emphase:    #eee - background color
// $color-light-grey:    #ddd - nav background color
// $color-primary:       #468 - primary color
// $color-text-base:     #222 - text color
// $color-alert-info:    #224d66 - info color
// $color-alert-success: #5a792c - success color
// $color-alert-warning: #c47908 - warning color
// $color-alert-error:   #b62922 - alert color
//
// Style guide: Design.Colors
$color-dark: #222 ;
$color-bg-emphase: #eee !default;
$color-light-grey: #ddd;
$color-primary: #468;
$color-text-base: #222 !default;
$color-alert-info: #224d66 !default;
$color-alert-success: #5a792c !default;
$color-alert-warning: #c47908 !default;
$color-alert-error: #b62922 !default;
