// Colors
//
// Colors of poe project front.
//
// Colors:
// color-ligh: #eee - light color
// color-light-grey: #ddd - light grey description
// color-primary: #468 - primary color
// color-dark: #222 - dark color
//
// Styleguide: design.colors
$color-light: #eee;
$color-light-grey: #ddd;
$color-primary: #468;
$color-dark: #222;
