$color-light: #eee;
$color-lightgrey: #ddd;
$color-primary: #468;
$color-dark: #222;

//Colors
//
// Colors:
// $color-light: #eee - background color
// $color-lightgrey: #ddd - body text color
// $color-primary: #468 - accent color
// $color-dark: #222 - headline color

