// Colors
// Every colors for this project are variables.
//
// Layout and UI generic colors
//
// Colors:
// $color-light:      #eee - main background color
// $color-light-grey: #ddd - nav background color
// $color-primary:    #468 - primary color
// $color-dark:       #222 - text color
// $color-alert-info: #0b4892 - color info
// $color-alert-success: #3c7a09 - color success
// $color-alert-warning: #b05105 - color warning
// $color-alert-error: #cc190f - color error
//
// Styleguide: Design.Colors
$color-light: #eee;
$color-light-grey: #ddd;
$color-primary: #468;
$color-dark: #222;

$color-text-base: #222;
$color-bg-emphase: #eee;

$color-alert-info: #0b4892;
$color-alert-success: #3c7a09;
$color-alert-warning: #b05105;
$color-alert-error: #cc190f;
