body {
  background-color: #fff;
  color: #222;
}

h1 {
  color: #468
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/** Nav **/
#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main {
  max-width: 50em;
  margin: 0 auto;

  display: grid;
  grid-template-areas: "header header header"
                       "nav nav nav"
                       "article article sidebar"
                       "footer footer footer";
}

header {
  grid-area: header;
}

#menu {
  grid-area: nav;
}

article {
  grid-area: article;
  padding-right: 1em;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}
