body {
  background-color: #ececec;
  color:#b2bec3;
}

h1 {
  color: #636e72
}

@media screen and (min-width: 40em) {
  body{
    background-color: grey
  }
}

/*Dark mode*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
}
